.person__title {
  max-width: 300px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.14;
  font-size: calc(27px + 15 * ((100vw - 320px) / 575));

  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

@media (min-width: 895px) {
  .person__title {
    font-size: 42px;
  }
}

@media (max-width: 895px) {
  .person__title {
    margin-bottom: 8px;
    margin-left: 16px;
  }
}

@media (max-width: 400px) {
  .person__title {
    max-width: 250px;
  }
}
