.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 45px;
  padding-bottom: 41px;

  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 320px) {
  .header {
    padding-bottom: 31.6px;
    padding-top: 28px;
  }
}
